extends layout
block content
  body
    if searchID
      h2 #{searchID} Activity 
    else
      h2 Activity (Unknown User)
      
    h3 Details
    p #{exercise}  #{weight} lbs | #{distance} miles

    //comments can't be all the way to the left?
    // ADD THIS LATER IN THE LAB TO DEMONSTRATE Template overriding
    // block footer   //un-indent to override

    //p This comes from Activity.pug